@black: #000000;
@black2: #221e1f;
@grey: #bbbbbb;
@grey2: #e8e8e8;
@white: #ffffff;
@red: #eb2329;
@red2: #98161b;
@green: #4a524e;

html * {
  box-sizing: border-box;
}
a, input, select, textarea, button {
  outline: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  min-width: 1200px;
}
.show-all {
  text-align: center;
  margin: 40px 0;
  a {
    display: block;
    width: 217px;
    height: 54px;
    border-radius: 4px;
    border: solid 2px #eb2329;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #eb2329;
    text-transform: uppercase;
    line-height: 54px;
    text-align: center;
    margin: 0 auto;
    &:hover {
      background-color: #c0050b;
      border-color: #c0050b;
      color: @white;
    }
  }
}

.top {
  height: 30px;
  background: @grey2;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  .wrap-top {
    text-align: center;
    .city {
      display: inline-block;
      float: left;
      font-size: 15px;
      color: #bbbbbb;
      span {
        display: inline-block;
        float: left;
        line-height: 30px;
        margin-right: 5px;
      }
      ul {
        display: inline-block;
        float: none;
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          float: left;
          a {
            color: #221e1f;
            padding: 6px 14px;
            display: block;
          }
          &.active, &:hover {
            a {
              background: #eb2329;
              color: #fff;
            }
          }
        }
      }
    }
    .info-top {
      display: inline-block;
      line-height: 30px;
    }

    .email-top {
      display: inline-block;
      float: right;
      font-weight: 900;
      color: #221e1f;
      line-height: 30px;
    }
  }
}
.header {
  background: none;
  margin: 50px auto 20px;
  max-height: 200px;
  width: 1200px;
  display: table;
  .grid3 {
    width: 270px;
    margin: 0 15px;
    display: inline-block;
    vertical-align: top;
  }

  .logo {
    img {
      width: 258px;
      height: 65px;
      object-fit: contain;
    }
    p {
      margin: 4px 0 0;
      font-size: 15px;
      color: #221e1f;
    }
  }
  .btn-call {
  }
  .phone {
    span {
      font-size: 28px;
      font-weight: 300;
      color: @black2;
    }
    p {
      margin: 0;
      font-size: 15px;
      color: #bbbbbb;
    }
    margin-bottom: 14px;
    margin-left: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .search {
    position: relative;
    width: 217px;
    input.search {
      margin-top: 13px;
      width: 100%;
      height: 54px;
      border-radius: 4px;
      border: solid 1px #e8e8e8;
      padding: 11px 50px 11px 18px;

      outline: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .magnifying-glass {
      position: absolute;
      right: 20px;
      top: 50%;
      background: none;
      padding: 0;
      margin-top: -7px;
      border: 0;
    }
  }
  .catalog {
    overflow: hidden;
    clear: both;
    margin-top: 42px;
    a {
      text-decoration: none;
      font-size: 15px;
      font-weight: 900;
      color: #221e1f;
      .hover {
        opacity: 0;
      }
      &:hover {
        color: #c0050b;
        .hover {
          opacity: 1;
        }
        .simple {
          opacity: 0;
          display: none;
        }
      }
    }
  }
  .cart {
    position: relative;
    height: 60px;
    .cart-wrap {
      background: #fff;
      box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.24), 0 0 12px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.12);
      position: absolute;
      width: 400px;
      z-index: 122;
      right: 140px;
      top: 59px;
      display: none;
      .cart-line {
        clear: both;
        margin: 20px;
        overflow: hidden;
        .img {
          width: 60px;
          height: 60px;
          margin-right: 14px;
          display: inline-block;
          float: left;
          border: 1px solid #ddd;
        }
        .name {
          display: inline-block;
          max-width: 255px;
          .badge {
            font-size: 12px;
            color: #bbbbbb;
          }
          .price {
            font-size: 12px;
            font-weight: 900;
            color: #221e1f;
          }
        }
        .text-right {
          display: inline-block;
          float: right;
          .count {
            padding: 3px 7px;
            border: 1px solid #ddd;
          }
        }
      }
      .total-sum {
        width: 100%;
        padding: 16px 25px;
        background-color: #e8e8e8;
        text-align: center;
        overflow: hidden;
        margin: 20px 0 0 0;
        .left {
          font-size: 15px;
          font-weight: 900;
          color: #191617;
          float: left;
        }
        .right {
          font-weight: 900;
          color: #eb2329;
          font-size: 15px;
          float: right;
        }
      }
      a {
        font-size: 15px;
        padding: 25px;
        display: block;
        width: 100%;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        border-radius: 2px;
        background: #eb2329;

        &:hover {
          background: #c0050b;
        }
      }
    }
    .image {
      position: relative;
      width: 54px;
      height: 54px;
      background-color: #eb2329;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      line-height: 67px;
      float: left;
      display: inline-block;
      margin-right: 18px;
      img {
        width: 25px;
        height: 27px;
        object-fit: contain;
        border: 0;
      }
      .count {
        position: absolute;
        right: -8px;
        top: 0;
        margin: 0;
        line-height: 1.5em;
        font-size: 12px;
        padding: 0;
        color: #fff;
        width: 20px;
        height: 20px;
        background-color: #eb2329;
        border: solid 1px @white;
        border-radius: 50%;
        display: block;
      }
    }
    .info {
      .price {
        font-size: 28px;
        font-weight: 300;
        color: @black2;
        span {
          font-size:15px;
          color: #bbbbbb;
        }
      }
      p {
        margin: 0;
        font-size:15px;
        color: #bbbbbb;
      }
    }
    &:hover {
      .cart-wrap {
        display: block;
      }
    }
  }

  /* end of header */
}
#top-menu {
  background-color: #ffffff;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.11);
  border: solid 0.5px #e8e8e8;
  &.fixed-menu {
    position: fixed;
    top: 30px !important;
    z-index: 99999;
    width: 100%;
    background: #fff;
  }
  ul {
    display: inline-block;
    display: flex;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 auto;
      list-style: none;
      float: left;
      a {
        height: 60px;
        line-height: 60px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        color: @black2;
        display: block;
        &:hover {
          border-bottom: 3px solid @red;
        }
      }
      &.active a {
        border-bottom: 3px solid @red;
      }
    }
  }
}
#content {
  h1, h2, h3, h4 {
    a {
      color: #2f2f2f;
    }
  }
  .trust {
    position: relative;
    .item {
      margin: 0;
      cursor: pointer;
      width: 20%;
      height: 150px;
      padding: 20px;
      border: 1px solid #ddd;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      float: left;
      line-height: 110px;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
      img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        vertical-align: middle;
      }
    }
  }
  .post {
    border-top: 1px solid #e8e8e8;
    padding-top: 20px;
    margin-top: 40px;
    &:first-child {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }
    .meta {
      margin: 10px 0;
      color: #bbbbbb;
    }
  }
  p {
    line-height: 1.4em;
  }
  .h1 {
    margin: 40px 0 20px;
    img {
      width: 33px;
      height: 33px;
      object-fit: contain;
      margin: 0 15px 0 0;
      display: inline-block;
      float: left;
    }
    span {
      font-size: 28px;
      font-weight: 300;
      color: @black2;
      text-transform: uppercase;
    }
  }
  .title {
    .h1 {
      margin-top: 0;
    }
  }
  .banner {
    margin: 40px 0;
    img {
      width: 100%;
      height: auto;
      margin: 0;
    }
  }
  .bomba  {
    padding: 60px 0;
    background-color: #e8e8e8;
    overflow: hidden;
    td {
      width: 50%;
      text-align: justify;
      vertical-align: top;
      &:first-child {
        padding-right: 14px;
      }
      &:last-child {
        padding-left: 14px;
      }
    }
  }
  /* end of content */
}

.about-section {
  padding: 60px 0;
  background: @grey2;
  overflow: hidden;
  margin-top: 30px;
  .h1 {
    margin: 20px 0 60px;
    text-align: center;
    }
    span {
      font-size: 28px;
      font-weight: 300;
      color: @black2;
      text-transform: uppercase;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: -44px;
        top: 0;
        display: block;
        width: 30px;
        height: 30px;
        object-fit: contain;
        background: url("/tpl/img/svg/az.svg");
    }
  }

  .item {
    overflow: hidden;
    padding: 30px 40px;
    background: @white;
    min-height: 300px;
    border-radius: 4px;
    cursor: pointer;
    .icon {
      margin-bottom: 40px;
    }
    .h3 {
      font-size: 15px;
      font-weight: 900;
      color: #221e1f;
      margin-bottom: 20px;
    }
    .desc {
      font-size: 15px;
      color: #221e1f;
    }
    &:hover {
      background: #4a524e;
      .h3 {
        color: @white;
      }
      .desc {
        color: @white;
      }
    }
  }

}

.video-block {
  background: #4a524e;
  padding: 60px;
  overflow: hidden;
  .head {
    font-size: 28px;
    font-weight: 300;
    color: @white;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .about {
    p {
      font-size: 15px;
      color: @white;

    }
  }
  .alfazvuk-logo-min {
    width: 51px;
    height: 13px;
    object-fit: contain;
    border: solid 0.5px #979797;
  }

}

.stat-section {
  padding: 60px 0;
  overflow: hidden;
  margin-top: 30px;
  .h1 {
    margin: 20px 0 60px;
    text-align: center;
    span {
      font-size: 28px;
      font-weight: 300;
      color: @black2;
      text-transform: uppercase;
      position: relative;
      margin-left: 30px;
      &:after {
        content: '';
        position: absolute;
        left: -44px;
        top: 0;
        display: block;
        width: 30px;
        height: 30px;
        object-fit: contain;
        background: url("/tpl/img/svg/az.svg");
      }
    }
  }
  .item {
    .animateNum {
      margin-bottom: 20px;
      text-align: center;
      font-size: 40px;
      font-weight: 500;
      color: #221e1f;
    }
    .desc {
      text-align: center;
      font-size: 15px;
      color: #221e1f;
      max-width: 170px;
      display: block;
      margin: 0 auto;
    }
  }
}
.trust-section {
  border-radius: 4px;
  overflow: hidden;
  .carousel {
    .owl-carousel {
      .owl-item {
        .item {
          cursor: pointer;
          width: 150px;
          height: 100px;
          padding: 20px;
          text-align: center;
          vertical-align: middle;
          display: table-cell;
          line-height: 110px;
          img {
            width: auto;
            height: auto;
            max-width: 100%;
            vertical-align: middle;
            max-height: 100%;
          }
        }
      }
    }
  }
  .border {
    padding: 60px 20px 40px;
    margin: 0 30px;
    border: solid 1px #e8e8e8;
  }
  .h1 {
    margin: 20px 0 60px;
    text-align: center;
    span {
      font-size: 28px;
      font-weight: 300;
      color: @black2;
      text-transform: uppercase;
      position: relative;
      margin-left: 30px;
      &:after {
        content: '';
        position: absolute;
        left: -44px;
        top: 0;
        display: block;
        width: 30px;
        height: 30px;
        object-fit: contain;
        background: url("/tpl/img/svg/az.svg");
      }

    }
  }
  .carousel {
    ul {
      li {
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-block;
        float: left;
      }
    }
    span {
      &.left {
        background: url("../img/slider/arrowNextL.svg");
        width: 10px;
        height: 16px;
        display: block;
        object-fit: contain;
        border-radius: 2px;
      }
      &.right {
        background: url("../img/slider/arrowNextL.svg");
        width: 10px;
        height: 16px;
        transform: rotate(180deg);
        display: block;
        object-fit: contain;
        border-radius: 2px;
      }
    }
    .owl-prev {
      position: absolute;
      left: 0;
      top: 50px;
    }
    .owl-next {
      position: absolute;
      right: 0;
      top: 50px;
    }
    .owl-dots {
      text-align: center;
      margin-top: 80px;
      position: absolute;
      bottom: -80px;
      left: 50%;
      margin-left: -20px;
      z-index: 10;
      .owl-dot {
        display: inline-block;
        float: left;
        margin-right: 20px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #221e1f;
        width: 10px;
        height: 10px;
        &:hover, &.active {
          background: #eb2329;
        }
      }
    }
    .show-all {
      margin-top: 120px;
    }
  }
  margin-bottom: 60px;
}

.service-section {
  overflow: hidden;
  background: #98161b;
  padding: 60px 20px 40px;
  .h1 {
    margin: 20px 0 60px;
    text-align: center;
    span {
      font-size: 28px;
      font-weight: 300;
      color: @white;
      text-transform: uppercase;
      position: relative;
      margin-left: 30px;
      &:after {
        content: '';
        position: absolute;
        left: -44px;
        top: 0;
        display: block;
        width: 30px;
        height: 30px;
        object-fit: contain;
        background: url("/tpl/img/svg/az.svg");
      }

    }
  }
  .item {
    color: @white;
    .img {
      height: 54px;
      margin-bottom: 20px;
      .hover {
        display: none;
      }
    }
    .head {
      font-size: 15px;
      font-weight: 900;
      color: @white;
      margin-bottom: 20px;
    }
    .desc {
      margin-bottom: 20px;
      font-size: 15px;
      color: @white;
    }
    .more {
      color: #221e1f;
      text-decoration: none;
      font-size: 15px;
      font-weight: 900;
      &:hover {
        color: @white;

      }
    }
    margin-bottom: 50px;
    &:hover {
      .img {
        .hover {
          display: block;
        }
        .simple {
          display: none;

        }
      }
    }
  }
}


.quest-section {
  overflow: hidden;
  padding: 40px 20px;
  .h1 {
    margin: 20px 0 60px;
    text-align: left;
    span {
      font-size: 28px;
      font-weight: 300;
      color: #221e1f;
      text-transform: uppercase;
      position: relative;
      margin-left: 30px;
      &:after {
        content: '';
        position: absolute;
        left: -44px;
        top: 0;
        display: block;
        width: 30px;
        height: 30px;
        object-fit: contain;
        background: url("/tpl/img/svg/az.svg");
      }
    }
  }
  .image {
    float: left;
    display: inline-block;
    width: 280px;
    height: 334px;
    object-fit: contain;
    margin: 40px 40px 0 60px;

    img {
      width: 100%;
    }
  }
  .quest {
    float: left;
    display: inline-block;
    border-radius: 4px;
    padding: 40px 80px;
    width: 600px;
    height: 387px;
    background: url(../img/svg/combinedShape.svg);

    .desc {
      margin-bottom: 30px;
    }
    .btn-call {
    }
  }
}

.btn-call {
  a {
    display: block;
    width: 217px;
    height: 54px;
    border-radius: 4px;
    border: solid 2px #eb2329;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #eb2329;
    text-transform: uppercase;
    line-height: 54px;
    text-align: center;
    &:hover {
      background-color: #c0050b;
      border-color: #c0050b;
      color: @white;
    }
  }
}
.pub-section {
  overflow: hidden;
  padding: 40px 20px;
  .h1 {
    margin: 20px 0 60px;
    text-align: center;
    span {
      font-size: 28px;
      font-weight: 300;
      color: #221e1f;
      text-transform: uppercase;
      position: relative;
      margin-left: 30px;
      &:after {
        content: '';
        position: absolute;
        left: -44px;
        top: 0;
        display: block;
        width: 30px;
        height: 30px;
        object-fit: contain;
        background: url("/tpl/img/svg/az.svg");
      }
    }
  }
  .pub-wrap {
    padding: 50px 0;
    border-radius: 4px;
    background-color: #e8e8e8;
  }
  .item {
    width: 334px;
    font-size: 15px;
    padding-left: 60px;
    .head {
      font-weight: 900;
      color: #221e1f;
      margin-bottom: 30px;
      border-top: 2px solid #eb2329;
      padding-top: 20px;

    }
    .desc {
      color: #221e1f;
      margin-bottom: 10px;
    }
    .more {
      font-weight: 900;
      text-decoration: none;
      color: #221e1f;
      .hover {
        opacity: 0;
      }
      &:hover {
        color: #c0050b;
        .hover {
          opacity: 1;
        }
        .simple {
          opacity: 0;
          display: none;
        }
      }
    }
  }
  .items {
    overflow: hidden;
    margin-bottom: 50px;
  }
  .show-all {
    background: @white;
    position: relative;
    width: 217px;
    height: 54px;
    overflow: hidden;
    margin: 0 auto;
    a {
      display: block;
      text-decoration: none;
      font-size: 15px;
      font-weight: 500;
      color: #eb2329;
      text-transform: uppercase;
      line-height: 54px;
      text-align: center;
      margin: 0 auto;
      &:hover {
        background-color: #c0050b;
        border-color: #c0050b;
        color: @white;
      }
    }
  }
}

footer {
  padding: 60px 0;
  background-color: #4a524e;
  overflow: hidden;
  .logo {
    font-size: 15px;
    color: @white;
    .logo-wrap {
      height: 65px;
      overflow: hidden;
      margin-bottom: 10px;

    }
    img {
      width: 256px;
      height: 94px;
      object-fit: contain;
    }
    p {
      font-size: 15px;
      font-weight: 900;
      color: @white;
    }
  }
  .contact {
    .item {
      margin-bottom: 14px;
      p {
        line-height: 1em;
        margin: 0 0 5px 0;
        font-size: 28px;
        color: @white;
        font-weight: 200;
      }
      small {
        font-size: 15px;
        color: #bbbbbb;
      }
    }
  }
  .social {
    p {
      color: @white;
      font-size: 15px;
      font-weight: 900;
      margin: 0 0 30px;
    }
    .block {
      clear: both;
      margin-bottom: 12px;
      margin-right: 20px;
      display: inline-block;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      .hover {
        display: none;

      }
      &:hover {
        color: #c0050b;
        .hover {
          opacity: 1;
          display: block;

        }
        .simple {
          opacity: 0;
          display: none;
        }
      }
      a {
        overflow: hidden;
        display: block;
        width: 54px;
        height: 54px;
        img {
          width: 54px;
          height: 54px;
        }
      }
    }
  }
  .call {
    overflow: hidden;
    .img {
      display: inline-block;
      float: left;
      margin-right: 15px;
    }
    p {
      margin: 0;
      color: @white;
      width: 124px;
      float: left;
    }
  }

  .show-all {
    text-align: left;
    margin-top: 30px;
    a {
      display: block;
      background: @white;
      width: 217px;
      height: 54px;
      border-radius: 4px;
      border: solid 2px #eb2329;
      text-decoration: none;
      font-size: 15px;
      font-weight: 500;
      color: #eb2329;
      text-transform: uppercase;
      line-height: 54px;
      text-align: center;
      margin: 0;
      &:hover {
        background-color: #c0050b;
        border-color: #c0050b;
        color: @white;
      }
    }
  }

}

.modal_div {
  width: 320px;
  border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: fixed; /* чтобы окно было в видимой зоне в любом месте */
  top: 45%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
  left: 50%; /* половина экрана слева */
  margin-top: -250px;
  margin-left: -150px; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
  display: none; /* в обычном состоянии окна не должно быть */
  opacity: 0; /* полностью прозрачно для анимирования */
  z-index: 999999; /* окно должно быть наиболее большем слое */
  padding: 30px;
}
#jGrowl {
  z-index: 9999999;
}
.modal_div .modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
  text-align: center;
}
/* Подложка */
#overlay {
  z-index: 999998; /* подложка должна быть выше слоев элементов сайта, но ниже слоя модального окна */
  position: fixed; /* всегда перекрывает весь сайт */
  background-color: #000; /* черная */
  opacity: 0.6; /* но немного прозрачна */
  width: 100%;
  height: 100%; /* размером во весь экран */
  top: 0;
  left: 0; /* сверху и слева 0, обязательные свойства! */
  cursor: pointer;
  display: none; /* в обычном состоянии её нет) */
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}

#Breadcrumbs {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #bbb;
    li {
      display: inline-block;
      a {
        font-size: 15px;
        color: #bbb;
      }
      &.B_lastCrumb {
        a {
          color: #e3011f;
        }
      }
    }
  }
}
h1 {
  margin: 10px 0 30px;
}
.m20 {
  margin: 20px 0;
}

ul.pagination {
  padding: 0;
  margin: 0;
  li {
    margin: 0 10px;
    display: inline-block;
    float: left;
    list-style: none;
    a {
      width: 26px;
      height: 26px;
      line-height: 26px;
      font-size: 15px;
      font-weight: 900;
      text-align: center;
      color: #221e1f;
      display: block;
    }
    span {
      width: 26px;
      height: 26px;
      display: block;
      line-height: 26px;
    }
    &.active {
      a {
        background-color: #eb2329;
        color: #fff;
        border-radius: 50%;
      }
    }
  }
}
.relative {
  position: relative;
  height: 26px;
  margin: 20px 0;
  .parent {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    > .inner {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
    ul.pagination {
      display: inline-block;

    }
  }
}

.itext-area {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  color: #221e1f;
  min-height: 100px;
  margin: 0;
  resize: none;

}